.breadcrumbs {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: flex-start;
  top: $margin-base * 6;
  height: $margin-base-4;
  padding: $margin-base;
  z-index: 9;
  background-color: #f5f9ff;
  @include desktop {
    width: calc(100% - 320px);
    margin-left: 320px;
    padding: 0 $margin-base-3;
    margin-top: $margin-base-2;
    .dashboard-content {
      width: 100%;
      max-width: $dashboard-content-width;
      margin: 0 auto;
    }
  }
  a {
    color: $kinto-tinted-grayscale-9;
    margin-right: $margin-base + 4;
    font-weight: 600;
    font-size: $margin-base + 4;
    line-height: $margin-base-2;
    &:hover {
      color: #1ec4e9;
    }
  }

  .disabled {
    color: $kinto-tinted-grayscale-6;
    cursor: default;
    font-size: $margin-base + 4;
    &:hover {
      color: $kinto-tinted-grayscale-6;
    }
  }

  .breadcrumb-text {
    display: flex;
    align-items: center;
    .type-icon {
      display: inline-block;
      height: $margin-base-2;
      width: $margin-base-2;
      margin-right: 5px;
      &.microservice {
        @include backgroundImage(
          '/images/icon-kintoblock-type-microservice-x-small.svg'
        );
      }
      &.task {
        @include backgroundImage(
          '/images/icon-kintoblock-type-task-x-small.svg'
        );
      }
      &.website {
        @include backgroundImage(
          '/images/icon-kintoblock-type-website-x-small.svg'
        );
      }
    }
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: start;
  }

  li {
    line-height: $margin-base-2;
    height: $margin-base-2;
    display: inline-block;
    display: flex;
    align-items: center;
    &:after {
      content: '';
      margin-right: $margin-base;
      margin-left: $margin-base;
      width: $margin-base-2;
      height: $margin-base-2;
      background: url(/images/icon-breadcrumb-chevron.svg);
    }
    &:last-child:after {
      background: none;
    }

    img {
      margin-right: $margin-base + 4;
    }
  }

  .list-container {
    display: flex;
    align-items: center;
  }
  .text-disabled {
    cursor: default;
    margin-right: $margin-base + 4;
    line-height: $default-line-height;
  }
}

.breadcrumb-icon {
  background: url('/images/icon-breadcrumb.svg');
  display: flex;
  width: $margin-base-2;
  height: $margin-base-2;
  border: none;
}

.breadcrumb-with-icon {
  display: flex;
  align-items: center;
  span {
    font-weight: bold;
    font-size: $margin-base + 4;
    margin-left: 5px;
    &.tag {
      color: $kinto-turquoise;
    }
    &.branch {
      color: $kinto-lapis;
    }
  }
  h4 {
    margin: 0 $margin-base;
    font-size: $margin-base + 4;
  }
}

.draft-icon {
  height: $margin-base-2;
  width: $margin-base-2;
  position: absolute;
  top: 1px;
  right: 0;
  @include backgroundImage('/images/label-type-draft.svg', $margin-base-2, $margin-base-2);
}

.kintoapp-tag-breadcrumb {
  position: relative;
  min-width: ($margin-base * 7);
  .draft-icon {
    top: 1px;
    left: 0;
  }
  &.draft {
    .breadcrumb-text {
      padding-left: $margin-base-3;
    }
  }
}
