.changelogs {
  .changelog-wrapper {
    margin-top: $margin-base-4;
    box-shadow: 0 2px 4px 0 rgba(66,118,146,0.10), 0 $margin-base $margin-base-4 0 rgba(66,118,146,0.10);
    background-color: $kinto-white;
    border-radius: $margin-base + 2;
    .changelogs-title {
      padding: $margin-base-2 0 $margin-base + 6;
      border-bottom: solid 2px $kinto-tinted-grayscale-2;
      h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: $margin-base + 6;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  .changelogs-body {
    padding: $margin-base-4;

    .selectors {
      display: flex;
      margin-bottom: $margin-base + 8;
      justify-content: space-between;
      .old-version, .new-version {
        flex: auto;
        select {
          margin-bottom: 0;
        }
      }
      .old-version {
        border-radius: 4px 0 0 4px;
        padding: 6px $margin-base-4 $margin-base-3 $margin-base-3;
        background-color: $kinto-grayscale-2;
        position: relative;
        height: 100px;
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-top: $margin-base * 5 solid transparent;
          border-bottom: $margin-base * 5 solid transparent;
          border-left: $margin-base-2 solid $kinto-grayscale-2;
          position: absolute;
          top: 0;
          right: -20px;
        }
      }
      .new-version {
        height: 100px;
        border-radius: 0 4px 4px 0;
        padding: 6px $margin-base-3 $margin-base-3 $margin-base-4;
        background-color: $kinto-grayscale-1;
      }
    }

    .modified-blocks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: $margin-base-2 0 8px;
      .key {
        display: flex;
        align-items: center;
        h6 {
          color: $kinto-tinted-grayscale-7;
          text-transform: capitalize;
          margin: 0;
          display: flex;
          align-items: center;
          margin-right: $margin-base-2;
        }
        .key-icon {
          display: inline-block;
          height: $margin-base-2;
          width: $margin-base-2;
          margin-left: $margin-base;
          position: relative;
          &.removed{
            border-left: $margin-base solid $kinto-coral;
            background-color: rgba($kinto-coral, 0.1);
            &:after {
              content: url('/images/icon-changelog-deletion.svg');
              position: absolute;
              top: -5px;
              left: -10px;
              display: block;
            }
          }
          &.added{
            border-left: $margin-base solid $kinto-green;
            background-color: rgba($kinto-green, 0.1);
            &:after {
              content: url('/images/icon-changelog-addition.svg');
              position: absolute;
              top: -5px;
              left: -10px;
              display: block;
            }
          }
          &.modified{
            border-left: $margin-base solid $kinto-purple;
            background-color: rgba($kinto-purple, 0.1);
            &:after {
              content: url('/images/icon-changelog-change.svg');
              position: absolute;
              top: -5px;
              left: -10px;
              display: block;
            }
          }
        }
      }
      h3 {
        font-size: $margin-base-2;
        color: $kinto-grayscale-7;
        font-weight: bold;
      }
    }
    .section, .modified-block-details {
      margin-bottom: $margin-base-2;
      .header {
        background-color: $kinto-grayscale-2;
        padding: $margin-base-2;
        display: flex;
        align-items: center;
        border-radius: 4px 4px 0 0;
        .kintoblock-icon {
          @include backgroundImage('/images/icon-generic-kintoblock-3.svg', $margin-base * 6, $margin-base * 6)
          &.deleted {
            opacity: 0.4;
          }
        }
        h3 {
          color: $kinto-grayscale-7;
          margin: 0 0 0 24px;
          font-size: $margin-base + 6;
          font-weight: bold;
        }
      }
      .details {
        border-radius: 0 0 4px 4px;
        background-color: $kinto-grayscale-1;
        padding-bottom: $margin-base-4;
        .changes {
          .row {
            .row-inner {
              display: flex;
              justify-content: space-between;
              padding: 8px 0 6px;
              vertical-align: middle;
              .old, .new {
                flex: auto;
                width: 50%;
                padding: 4px $margin-base-2;
                &:after {
                  display: none;
                }
                h6 {
                  margin: 2px 0;
                  height: $margin-base + 6;
                  line-height: $margin-base + 6;
                }
                .key {
                  text-transform: uppercase;
                  font-weight: normal;
                }
                .value {
                  font-weight: normal;
                  color: $kinto-grayscale-7;
                }
              }
              &.version {
                h6 {
                  font-weight: normal;
                  color: $kinto-grayscale-7;
                }
              }
            }
            &.delete, &.add {
              .row-inner {
                .old, .new {
                  &.no-color {
                    border: none;
                    background-color: transparent;
                    padding-left: $margin-base-2;
                    &:after {
                      display: none;
                    }
                  }
                }
                .old {
                  padding-left: $margin-base;
                  border-left: solid $margin-base $kinto-coral;
                  background-color: rgba($kinto-coral, 0.1);
                  position: relative;
                  &:after {
                    content: url('/images/icon-changelog-deletion.svg');
                    position: absolute;
                    top: -5px;
                    left: -10px;
                    display: block;
                  }
                }
                .new {
                  padding-left: $margin-base;
                  border-left: solid $margin-base $kinto-green;
                  background-color: rgba($kinto-green, 0.1);
                  position: relative;
                  &:after {
                    content: url('/images/icon-changelog-addition.svg');
                    position: absolute;
                    top: -5px;
                    left: -10px;
                    display: block;
                  }
                }
              }
            }
            &.modified {
              .new {
                padding-left: $margin-base;
                border-left: solid $margin-base $kinto-purple;
                background-color: rgba($kinto-purple, 0.1);
                position: relative;
                &:after {
                  content: url('/images/icon-changelog-change.svg');
                  position: absolute;
                  top: -5px;
                  left: -10px;
                  display: block;
                }
              }
            }
          }
        }
      }
      .section-heading {
        padding-left: $margin-base-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $margin-base-3 - $margin-base + 2;
        padding-top: $margin-base-4 - $margin-base + 2;
        h4 {
          display: flex;
          white-space: nowrap;
          margin: 0 $margin-base-2 0 0;
          text-transform: uppercase;
        }
        .line {
          width: 100%;
          border-bottom: 2px solid $kinto-grayscale-3;
        }
        .tag-icons {
          .icon {
            margin: 0 $margin-base 0 0;
            &.branch {
              @include backgroundImage('/images/icon-type-branch-dark.svg', $margin-base-2, $margin-base-2);
            }
            &.commit {
              @include backgroundImage('/images/icon-type-commit-dark.svg', $margin-base-2, $margin-base-2);
            }
            &.tag {
              @include backgroundImage('/images/icon-type-tag-dark.svg', $margin-base-2, $margin-base-2);
            }
          }
          &.BRANCH {
            .tag {
              display: none;
            }
          }
          &.TAG {
            .commit, .branch {
              display: none;
            }
          }
        }
      }
    }
    .deleted-block, .new-block {
      .header {
        background-color: $kinto-grayscale-1;
      }
      h6 {
        font-weight: normal;
        font-size: $margin-base + 2;
        color: $kinto-tinted-grayscale-7;
        line-height: $margin-base + 6;
        margin: 0 0 0 24px;
      }
    }
  }

  .no-changelog-message {
    padding: $margin-base-4;
    .inner {
      background-color: $kinto-grayscale-1;
      border-radius: 4px;
      h4 {
        padding: $margin-base-2 0;
        text-align: center;
        font-weight: normal;
      }
    }
  }
}
