.forgot-password-wrapper, .create-new-password-wrapper {
  min-height: 70vh;
  .forgot-password, .create-new-password {
    margin: 0 auto;
    background-color: $kinto-white;
    padding: $margin-base-4 $margin-base-3 $margin-base * 6;
    border-radius: $margin-base + 2;
    box-shadow: 0 2px 4px 0 rgba($kinto-tinted-grayscale-7,0.10), 0 $margin-base $margin-base-4 0 rgba($kinto-tinted-grayscale-7,0.10);
    min-height: 350px;
    max-width: 440px;
    @include abovetablet {
      width: 440px;
      padding: $margin-base-4 $margin-base * 6 $margin-base * 6;
    }
    .field-wrapper input {
      height: $margin-base * 5;
    }
  }
  .line {
    border: solid 1px $kinto-tinted-grayscale-1;
    margin: $margin-base 0 25px;
  }
  h2 {
    font-weight: 600;
    margin-top: 0;
  }
  .byline {
    font-weight: normal;
    margin-bottom: $margin-base-2;
  }
}

.create-new-password-wrapper {
  .error-message {
    margin-bottom: $margin-base;
  }
}
